body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

.ingredients-list {
    list-style: square inside;
}

ol {
    list-style:lower-greek inside;
}

header > img {
    width: 100px;
}

ul > li > a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: beige;
}

input[type="radio"],
input[type="submit"],
select {
    cursor: pointer;
    outline: none;
}

input:last-child {
    background-color: gold;
}

input[type="radio"] {
    -webkit-appearance: none;
    width: 27px;
    height: 27px;
    background-image: url(../assets/stars.png);
    vertical-align: bottom;
}
input[type="radio"]:hover {
    background-image: url(../assets/stars.png);
    background-position: center;
}
input[type="radio"]:checked {
    background-image: url(../assets/stars.png);
    background-position: bottom;
}

.directions li:nth-child(even) {
    background-color: lightgrey;
}
